{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <h3>{{ title }}</h3>
    <form action="{% url 'saveEdit' %}" method="post" autocomplete="off">
        {% csrf_token %}
        {{ editForm.non_field_errors }}
        {% for field in editForm %}
            {% if field.erorrs %}
                <p>{{ field.erorrs }}</p>
            {% endif %}
        {% endfor %}
        {{ editForm.title }}
        <p style="font-size: 0.7rem;">Double check your title to make sure it exists.</p>
        {{ editForm.content }}
        <input type="submit" value="Save Changes">
    </form>
{% endblock %}